stages:
{{ range $section := .Sections }} - {{.StageName}}
{{ end }}

variables:
  TEST_CONTAINER_NAME: ${CI_PROJECT_NAME}--${CI_BUILD_REF_NAME}

{{ range $section := .Sections }}
{{.StageName}}:
  stage: {{.StageName}}
  script:
    - docker exec -i ${TEST_CONTAINER_NAME} {{.GeneratedLintersDir}}/{{.Script}}
{{ end }}
